/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
!.gitkeep
docker/mysql/
docker/nginx/logs
docker/minio/data
docker/minio/config
*.clover
/build
.php_cs.cache
*.lock
package-lock.json